<div class="message">
  <div class="col-sm-3">
    <p><%= message.name %></p>
    <p><%= message.email %>, <%= message.postcode %></p>
  </div>
  
  <div class="col-sm-9">
    <%= message.message %>
  </div>
  
  <div class="clb"></div>
</div>