<div class="text-page">
  <header class="row flex-center">
    <h1>Contact Us</h1>
  </header>

  <main class="col-sm-8 col-sm-offset-2">
   	<p>Our email address is:</p>

		<p><a href="mailto:hello@ethicalswitch.com">hello@ethicalswitch.com</a></p>
		
		<p>Or alternatively fill out the form below and we'll get back to you as soon as we can:</p>
   
    <%= render 'form', bill_compare: nil, remote: nil %>
  </main>
</div>