<!-- Home Page -->
 
<section class="row tac mb40">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="m0">Make an Ethical Switch</h2>

    <p><b>Having a positive effect on the world can be as simple as switching your spending to the right company.</b></p>

    <p>We would all rather that the money we spent didn't cause any harm but it can be tricky to know which companies are the bad ones and which are the good.</p>

    <p><strong>This is why we exist.</strong></p>	

    <p>We are a new social enterprise whose mission is to find ethical companies offering great deals and to make it simple for people to switch across to them. By finding affordable deals from ethical companies, the choice is each of ours to make. So are you up for making an Ethical Switch.</p> 

    <p id="popup_anchor">We promise you, <strong>switching never felt better.</strong></p>	
  </div>
  
  <div class="clb"></div>
</section>


<!-- Ethical Power -->

<section class="row tac mb40">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="m0">Ethical Power</h2>

    <p><b>Having a positive effect on the world can be as simple as switching your spending to the right company.</b></p>

    <p>We have done the research and discovered who are the best power companies in Australia.</p>

    <p>Simply <strong>select which state</strong> you are in above and <strong>click 'Find Out Now'</strong> to see a full list of who the best power companies operating in your area are and why.</p>

    <p>If you like one of our 5 star companies then you also have the option to click on the 'Switch Now' button and complete a simple 5 minute online process to make a switch to your new chosen ethical provider. If you do you'll know what we mean when we say:</p> 

    <p><strong>Switching never felt better.</strong></p>
  </div>
  
  <div class="clb"></div>
</section>


<!-- Ethical Super -->

<section class="row tac mb40">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="m0">Ethical Super</h2>
    
    <p><b>Having a positive effect on the world can be as simple as switching your superannuation fund.</b></p>

    <p>Australians have over AUD$2.05 trillion in superannuation assets but not all of us know where or how it is being invested.</p>

    <p>At Ethical Switch we take the hard part out of finding a super fund that matches your values. The superannuation companies on our website seek investment opportunities that focus on promoting renewable energy, health and education. They actively avoid investing in detention centres, fossil fuels and weapons.</p>

    <p>Click on the links below to  discover how you can take back control of your super.</p>

    <p>If you like what you see then click on the 'Switch Now' button and complete a simple 5 minute online process to make a switch to your new chosen super. Then you'll know what we mean when we say:</p> 

    <p><strong>Switching never felt better</strong></p>
  </div>
  
  <div class="clb"></div>
</section>


<!-- Ethical Homeloans -->

<section class="row tac mb40">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="m0">Ethical Homeloans</h2>

    <p><b>Having a positive effect on the world can be as simple as switching your homeloan.</b></p>

    <p>Your home loan is one of the biggest investments you'll make in your life.</p>

    <p>Your choice is a powerful thing.</p>

    <p>We've introduced green home loans to empower people to be able to make ethical choices about their home loan; to be informed and know that there are alternatives.</p>

    <p>Our partners at Ethical Homeloans source banks that not investing in fossil fuels and who are committed to renewable energy. They present you with a range of ethical alternatives, give advice on which option is best for your unique situation and then manage the entire application process for you.</p>

    <p><strong>Switching never felt better</strong></p>
  </div>
  
  <div class="clb"></div>
</section>