<section class="row grey-bg pt40 pb40">
  <div class="col-sm-10 col-sm-offset-1 tac">
    <h2 class="mb20">What We Do</h2>
    
    <div class="col-sm-3">
      <%= image_tag "icon_what_we_do_1.png", class: "w80p" %>

      <p>We research the companies within certain industries and give them an ethical rating</p>
    </div>

    <div class="col-sm-3">
      <%= image_tag "icon_what_we_do_2.png", class: "w80p" %>

      <p>We then compare their prices to find which of them are offering the best value</p>
    </div>

    <div class="col-sm-3">
      <%= image_tag "icon_what_we_do_3.png", class: "w80p" %>

      <p>We choose the most ethical companies and offer a quick, online switch</p>
    </div>

    <div class="col-sm-3">
      <%= image_tag "icon_what_we_do_4.png", class: "w80p" %>

      <p>When you switch through our website, we donate on your behalf to one of our charity projects!</p>
    </div>
  </div>
  
  <div class="clb"></div>
</section>