<div class="faq_container">
  <div class="faq">
    <div class="faq_question">
      <%= image_tag "plus.png" %>
      <%= faq.title %>
    </div>

    <div class="faq_answer_container">
      <div class="faq_answer p10">
        <%= faq.answer.html_safe %>
      </div>        
    </div>
  </div>
</div>