<div class="faq_container">
  <div class="faq">
    <div class="faq_question lhi-sm">
      <%= image_tag "plus.png" %>
      <p class="m0 mt12-sm"><%= faq.title %></p>
    </div>

    <div class="faq_answer_container">
      <div class="faq_answer p10">
        <%= faq.answer.html_safe %>
      </div>        
    </div>
  </div>
</div>