<div class="text-page">
  <header class="row flex-center">
    <h1 class="tac">FAQs</h1>
  </header>

  <main class="faqs col-sm-8 col-sm-offset-2">
    <ul>
      <% @faqs.each do |faq| %>
        <li>
          <%= link_to faq.title, "##{faq.title.downcase.gsub(" ", "_").gsub("?", "")}" %>
        </li>
      <% end %>
    </ul>
		
    <% @faqs.each do |faq| %>
      <div class="faq">
        <h4 id="<%= "#{faq.title.downcase.gsub(" ", "_").gsub("?", "")}" %>"><%= faq.title %></h4>

        <%= faq.answer.html_safe %>

        <a href="#" class="faqs-top">^ Back to the top</a>
      </div>
    <% end %>
  </main>
  
  <div class="clb"></div>
</div>