<div class="tac row">
  <div class="col-sm-8 col-sm-offset-2 mb20">
    <h2>Switch to Energy Locals</h2>

    <p><b>Having a positive effect on the world can be as simple as switching your spending to the right company</b></p>

    <p>
      Energy Locals is a social enterprise that aims to make energy cheaper, cleaner and fairer. They make a promise that prices will never change for profit and they offer attractive solar feed in tariffs to promote renewable energy.
    </p> 

    <p>
      They also donate over half of their profits to Aussie communities, charities and into new, local renewable energy.
    </p> 

    <p>
      Their switch takes 5 minutes online with no lock in contracts or exit penalties
    </p> 

    <p><strong>Switching never felt better</strong></p>
  </div>
  
  <hr>
  
  <%= render 'reasons_energy_locals' %>

  <div class="tac mb20">
    <%= link_to "START THE SWITCH", "#switch_energy_locals", class: "btn btn-primary btn-padded" %>
  </div>
  
  <hr>
  
  <div class="col-sm-10 col-sm-offset-1 tal mb20">
    <h2 class="tac mb40">FAQs</h2>
    
    <%= render @faqs %>
  
    <div class="clb"></div>

    <div class="tac">
      <%= link_to "See full FAQs", faqs_path, class: "btn btn-primary btn-padded" %>
    </div>
  </div>
  
  <hr>
  
  <div class="col-sm-10 col-sm-offset-1 tal">
    <h2 class="tac mb40">About Energy Locals</h2>

    <p>
      Energy Locals is a 100% Australian electricity retailer, founded in 2016 by industry professionals in Melbourne.  The company don't own electricity generation assets.
    </p>

    <p>They are a social enterprise, which is committed to giving away over half of their profits to charities, community and renewabale energy projects.</p>

    <p>In terms of pricing, they have made a unique claim to never increase prices for profit.  Their pricing structures are simple with no conditional or disappearing discounts.  And no lock in contracts or break fees. </p>

    <p>They promote renewable energy by offering a high solar feed-in-tarriff for customers and Greenpower plans are available, also.</p>
  </div>
</div>