/* line 2, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/admin.scss */
.admin table {
  border-collapse: collapse;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
/* line 7, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/admin.scss */
.admin table tr {
  border-bottom: 1px solid #eaeaea;
}
/* line 10, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/admin.scss */
.admin table tr th {
  background-color: #3084bf;
  color: #fff;
}
/* line 15, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/admin.scss */
.admin table tr th, .admin table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}
