/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 20, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
html, body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

/* line 25, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
}

/* line 29, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
h2 {
  font-size: 2.2em;
}

/* line 33, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
a {
  text-decoration: none;
}

/* line 37, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
blockquote {
  margin: 0;
}

/* line 41, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
textarea {
  min-height: 200px;
}

/* line 45, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
label {
  margin-bottom: 5px;
  display: block;
}

/* line 50, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
sup {
  background-color: #3084bf;
  color: #fff;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  font-size: 0.5em;
}

/* line 58, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 64, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.faded-black {
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 68, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.faded-white {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 72, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.faded-blue {
  background-color: rgba(82, 157, 212, 0.8);
}

/* line 76, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.lh50 {
  height: 50px;
  line-height: 50px;
}

/* line 81, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.grey-bg {
  background-color: #eaeaea;
}

/* line 85, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.light-grey-bg {
  background-color: #efefef;
}

/* line 89, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.teal-pattern-bg {
  background-image: url(/assets/bg_diagonal-8c57f33dd6b615c31abd8326402a1d01713806651cac1a9a3a09ba9b1f4f9918.png);
}

/* line 93, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.italic {
  font-style: italic;
}

/* line 97, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.link {
  color: dodgerblue;
  text-decoration: underline;
}

/* line 102, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.notice, .alert {
  position: absolute;
  width: 50%;
  background-color: #fff;
  padding: 30px;
  margin-left: 25%;
  margin-top: 50px;
  z-index: 1000;
  border: 1px solid #d0d0d0;
  text-align: center;
  box-shadow: 3px 3px #eaeaea;
}

/* line 115, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.disclaimer {
  font-size: 0.8em;
  color: #888;
}

/* line 120, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.grey-padded {
  background-color: #eaeaea;
  padding: 20px 15px 15px 10px;
}

/* line 125, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.shadowed-padded {
  background-color: #fff;
  padding: 20px 15px 15px 10px;
  box-shadow: 1px 2px 12px #c3c3c3, -2px 1px 12px #eaeaea;
}

/* line 131, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.text-light-green {
  color: #40AE49;
}

/* line 135, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.yellow-text {
  color: #ffd105;
}

/* line 139, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.df {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 146, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.df .flex {
  flex: 1;
}

/* line 151, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.fdc {
  flex-direction: column;
}

/* line 155, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.fg1 {
  flex-grow: 1;
}

/* line 159, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
img[alt=Help] {
  width: 13px;
}

/* line 164, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.text-success {
  color: green;
}

/* line 168, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.text-m {
  font-size: 1em !important;
}

/* line 172, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.listdc {
  list-style-type: decimal;
}

/* line 176, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.brdr-grey {
  border: 1px solid #e0e0e0;
}

/* line 180, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.error-text {
  color: #bd1d1d;
  font-size: 0.8em;
}

/* line 185, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.bxsh {
  box-shadow: 1px 1px 5px #c3c3c3;
}

/* line 189, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.bxsh {
  box-shadow: 1px 1px 5px #c3c3c3;
}

/* line 193, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/application.css.scss */
.tsh {
  text-shadow: 2px 2px 2px #333;
}
