/* line 1, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/charity.css.scss */
.banner_charity {
  background-image: url(/assets/banner_power-23f02385e9f0a27bd498419dcd51746f0953b2fc4abf58d18d49c2a8b2550207.jpg);
  color: #fff;
}

/* line 6, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/charity.css.scss */
.banner_solar_citizens {
  background-image: url(/assets/banner_solar_panels-99c9c04d94e7fb26c327a88eba48f7b68826d6dcf7c7dac54713f03931c082c6.jpg);
}

/* line 10, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/charity.css.scss */
.banner_friends_of_the_earth {
  background-image: url(/assets/banner_sun-e3aef92d1db01d4308ce5761297d90d8a29b2b10766907c4183616069a46e7a9.jpg);
}

/* line 14, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/charity.css.scss */
.charity-option {
  border: 1px solid #eaeaea;
  min-height: 215px;
  cursor: pointer;
}
