/* line 2, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/faqs.scss */
.faq_container .open {
  padding-bottom: 15px;
}
/* line 6, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/faqs.scss */
.faq_container .faq_question {
  margin: 0px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #eaeaea;
  color: #888888;
  margin-bottom: 10px;
  text-align: left;
}
/* line 19, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/faqs.scss */
.faq_container .faq_question img {
  margin: 14px;
  float: left;
}
/* line 25, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/faqs.scss */
.faq_container .faq_answer_container {
  height: 0px;
  overflow: hidden;
  padding: 0px;
  background-color: #fff;
}
