/* line 1, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/home.scss */
.our-story {
  background-image: url(/assets/our_story_cafe-8c155214a199ee4f7a202650e2b49deaa54ca71ef1b140baab8deb00556a3912.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 80px 0 200px 0;
}
