/* line 1, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/popups.css.scss */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: opacity 500ms;
  opacity: 0;
}

/* line 13, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/popups.css.scss */
.popup {
  background-color: #fefefe;
  z-index: 200;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  top: 0;
  padding: 20px;
  margin-top: 10px;
}

/* line 24, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/popups.css.scss */
.close {
  display: block;
  height: 22px;
  width: 22px;
  background-image: url(https://b.stripecdn.com/checkout/v3/images/close@2x-VUKccjMT9HGAfi8RVDfHfw.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 7px;
  right: 8px;
  cursor: pointer;
}
