/* line 2, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/text_page.scss */
.text-page header {
  background-color: #eaeaea;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 10, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/text_page.scss */
.text-page main {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 30px;
  padding-bottom: 50px;
}
/* line 17, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/text_page.scss */
.text-page a {
  color: #3084bf;
}
/* line 21, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/text_page.scss */
.text-page h1, .text-page h2, .text-page h3, .text-page h4, .text-page h5 {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 27, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/text_page.scss */
.text-page .faqs ul {
  list-style-type: none;
}
/* line 30, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/text_page.scss */
.text-page .faqs ul li {
  margin-bottom: 15px;
}
/* line 35, /Users/dannysantos/projects/EthicalSwitch/app/assets/stylesheets/text_page.scss */
.text-page .faqs span.tdu {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
