<div class="row highlight-bg pt20 pb20 text-white">
  <h2 style="text-align:center;">Thanks for Getting in Touch!</h2>
</div>

<div class="col-sm-6 col-sm-offset-3 pt20 pb20">
  <h3>What will happen next?</h3>
  
  <p>The Green home loan expert will be contact you shortly and schedule a quick 10-minute call to speak with you.</p>

  <p>Have a busy schedule? <a href="https://calendly.com/paul-53" target="_blank" class="fake-link">Click here</a> to reserve your preferred call time.</p>
</div>
