<div id="switch_power" class="popup" style="display:none;">
  <div class="close"></div>

  <header class="tac">
    <h2 class="tac-sm">Switch your power provider</h2>
  
    <p class="col-sm-8 col-sm-offset-2">We have done our research and found the greenest, fairest, most ethical power providers in Australia. To view our full criteria and compare the ethics of all power providers, check out our <%= link_to "power criteria table", power_providers_path, class: "link" %>.</p>
  </header>

  <%= render 'statics/switch_options_power' %>
</div>
 
<div id="switch_super" class="popup" style="display:none;">
  <div class="close"></div>

  <header class="tac">
    <h2 class="tac-sm">Switch your super provider</h2>
  
    <p class="col-sm-8 col-sm-offset-2">We have done our research and partnered up with three super funds who are committed to investing only in companies that are having a positive impact on the world.</p>
  </header>

  <%= render 'statics/switch_options_super' %>
</div>
 
<div id="switch_homeloans" class="popup" style="display:none;">
  <div class="close"></div>

  <header class="tac">
    <h2 class="tac-sm">Switch your homeloan</h2>
  
    <p class="col-sm-8 col-sm-offset-2">For most people a home loan is the largest investment they will ever make. Making sure that the money is used by banks who make positive investments is one of the most impactful things that we can do to help create a positive, sustainable society.</p>
  
    <div class="clb"></div>

    <p class="col-sm-8 col-sm-offset-2">Simply fill out the form below and a member of the Ethical Homeloans team will get in touch to discuss the switching process</p>
  </header>

  <div class="col-sm-8 col-sm-offset-2">
    <%= render 'switches/form', partner: @ethical_homeloans, switch: @switch %>
  </div>
</div>