<div class="highlight-bg row white-text pt20 pb20 tac mb40">
  <div id="signup_content">
    <h3 class="fwn mb20">Sign Up Now for Updates on New Ethical Products and Services!</h3>

    <%= form_for(Subscriber.new, remote: true) do |f| %>
      <%= f.email_field :email, placeholder: "Email", class: "form-control di wi" %>
      <%= f.text_field :postcode, placeholder: "Postcode", class: "form-control di wi" %>
    <%= f.submit "Submit", class: "btn btn-primary form-control di wi vab mb10" %>
    <% end %>
  </div>
</div>