<section class="mb40 row italic">
  <div class="col-sm-10 col-sm-offset-1">
    <h2 class="tac mb20">"Switching our power was incredibly simple and quick"</h2>

    <blockquote class="col-sm-10 col-sm-offset-1">
      "Switching our power was incredibly simple and quick. Ethical Switch had all the facts and within 5 minutes we had a new electricity provider that we felt we could trust in terms of environmental impact and pricing. Ethical Switch saved us money and time and gave us peace of mind by doing all of the hard work for us."
      
      <footer><strong>- Vidi Chandra, Concentric Circles</strong></footer>
    </blockquote>

    <div class="col-sm-6 p20 pb0-sm">
      <blockquote class="grey-bg p20">
        "...seriously, it took me only 5 minutes to save money AND do my bit towards the planet by swapping to a more ethical power supplier. What can I ethically switch to next???"
      
        <footer><strong>- Anna Rogers, HUB Group</strong></footer>
      </blockquote>
    </div>

    <div class="col-sm-6 p20">
      <blockquote class="grey-bg p20">
        "Switching to a better product couldn't get any easier! In a few simple clicks I was all set up with a new energy provider. And the best part is that you get that provider to make a donation to a good cause just because you've made the switch!"
      
        <footer><strong>- Elza Carciu</strong></footer>
      </blockquote>
    </div>
  </div>
  
  <div class="clb"></div>
</section>