<section class="row teal-pattern-bg pt40 pb40">
  <h2 class="text-l tac mb20">Switch in 5 minutes and 3 simple steps:</h2>
  
  <div class="col-sm-4 col-sm-offset-4 white-bg brdr-grey">
    <ul class="listdc">
      <li>Choose your new ethical provider</li>
      <li>Fill your name and email details</li>
      <li>Finish on your new providers website</li>
    </ul>
  </div>
  
  <div class="clb"></div>
</section>