<div class="placeholder row">
  <h1>Ethical Switch is no longer active</h1>
  
  <p>Thanks so much to everyone who supported us! It's been a pleasure helping you switch to greener, cleaner, and more ethical suppliers.</p>
  
  <p>All the best,</p>
  
  <p>The Ethical Switch team</p>
</div>