<div class="disclaimer mb40 mt40">
  <p>Ethical Switch is comparing providers of goods and services according to publicly available data. We cannot guarantee that we have included all providers, nor can we guarantee this information to be 100% correct, so please do your own research before making a decision to switch. If you believe our information to be incorrect, please contact us and let us know! </p>


  <p>For more information on the criteria table, <%= link_to "click here", criteria_table_info_path, target: "_blank" %></p>
</div>