.admin {
  table {
    border-collapse: collapse;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    
    tr {
      border-bottom: 1px solid #eaeaea;
      
      th {
        background-color: #3084bf;
        color: #fff;
      }
      
      th, td {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
  
  .admin-button {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .admin-button:hover {
    background-color: #eaeaea;
    cursor: pointer;
  }
}