/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';

html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h2 {
  font-size: 2.2em;
}

a {
  text-decoration: none;
}

blockquote {
  margin: 0;
}

textarea {
  min-height: 200px;
}

label {
  margin-bottom: 5px;
  display: block;
}

sup {
  background-color: $highlight-color;
  color: #fff;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  font-size: 0.5em;
}

.text-page-header {
  background-color: #eaeaea;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  
  a {
    color: #3084bf;
    text-decoration: underline;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.faded-black {
  background-color: rgba(0,0,0,0.4);
}

.faded-white {
  background-color: rgba(256,256,256,0.8);
}

.faded-blue {
  background-color: rgba(82, 157, 212, 0.8);
}

.lh50 {
  line-height: 50px;
}

.grey-bg {
  background-color: #eaeaea;
}

.light-grey-bg {
  background-color: #efefef;
}

.teal-pattern-bg {
  background-image: image-url("bg_diagonal");
}

.italic {
  font-style: italic;
}

.link {
  color: dodgerblue;
  text-decoration: underline;
}

.notice, .alert {
  position: absolute;
  width: 50%;
  background-color: #fff;
  padding: 30px;
  margin-left: 25%;
  margin-top: 50px;
  z-index: 1000;
  border: 1px solid #d0d0d0;
  text-align: center;
  box-shadow: 3px 3px #eaeaea;
}

.disclaimer {
  font-size: 0.8em;
  color: #888;
}

.grey-padded {
  background-color: #eaeaea;
  padding: 20px 15px 15px 10px;
}

.shadowed-padded {
  background-color: #fff;
  padding: 20px 15px 15px 10px;
  box-shadow: 1px 2px 12px #c3c3c3, -2px 1px 12px #eaeaea;
}

.text-light-green {
  color: #40AE49;
}

.yellow-text {
  color: $primary_color;
}

.df {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  
  .flex {
    flex: 1;
  }
}

.fdc {
  flex-direction: column;
}

.fg1 {
  flex-grow: 1;
}

img[alt=Help] {
  width: 13px;
//  vertical-align: middle;
}

.text-success {
  color: green;
}

.text-m {
  font-size: 1em !important;
}

.listdc {
  list-style-type: decimal;
}

.brdr-grey {
  border: 1px solid #e0e0e0;
}

.error-text {
  color: #bd1d1d;
  font-size: 0.8em;
}

.bxsh {
  box-shadow: 1px 1px 5px #c3c3c3;
}

.bxsh {
  box-shadow: 1px 1px 5px #c3c3c3;
}

.tsh1 {
  text-shadow: 1px 1px 1px #333;
}

.tsh2 {
  text-shadow: 2px 2px 2px #333;
}

.fake-link {
  color: #3084bf;
  text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  background-color: #eaeaea;
  width: 80%;
  margin-left: 10%;
}

// fz01em fz08em fz12em etc