@import 'variables';

.btn-primary {
  background-color: $primary_color;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: $primary_color_highlight;
}

.btn-grey {
  background-color: #eaeaea;
}

.btn-status {
  background-color: #eaeaea;
  font-size: 0.8em;
  margin-bottom: 5px;
  width: 100%;
}

.btn-status:hover {
  background-color: #c3c3c3;
}

.btn-grey-selected {
  background-color: green;
  color: #fff;
}

.btn-grey-selected:hover {
  background-color: green;
  color: #fff;
}

.btn-grey:hover {
  background-color: green;
  color: #fff;
}

.btn-padded {
  padding: 10px 30px;
}

.btn-switch-table {
  display: block;
  width: 100%;
}