.banner_charity {
  background-image: image-url("banner_power");
  color: #fff;
}

.banner_solar_citizens {
  background-image: image-url("banner_solar_panels");
}

.banner_friends_of_the_earth {
  background-image: image-url("banner_sun");
}

.charity-option {
  border: 1px solid #eaeaea;
  min-height: 215px;
  cursor: pointer;
}