.faq_container {
  .open {
    padding-bottom: 15px;
  }
  
  .faq_question {
    margin: 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #eaeaea;
    color: #888888;
    margin-bottom: 10px;
    text-align: left;
    
    img {
      margin: 14px;
      float: left;
    }
  }
  
  .faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    background-color: #fff;
  }
  
  @media only screen and (max-width: 768px) {
    .faq_question {
      font-size: 0.8em;
      font-weight: normal;

      img {
        width: 12px;
        margin: 19px 12px;
      }
    }
  }
}