.overlay {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: opacity 500ms;
  opacity: 0;
}

.popup {
  background-color: #fefefe;
  z-index: 200;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  top: 0;
  padding: 20px;
  margin-top: 10px;
}

.close {
  display: block;
  height: 22px;
  width: 22px;
  background-image: url(https://b.stripecdn.com/checkout/v3/images/close@2x-VUKccjMT9HGAfi8RVDfHfw.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 7px;
  right: 8px;
  cursor: pointer;
}

.popup {
  .tac {
    img {
      width: 70%;
    }
  }
  
  .provider-checklist {
    text-align: left;
    padding: 20px;
    margin: 0;
    list-style-type: none;
    flex-grow: 1;
    
    li {
      background-image: image-url("green_tick.png");
      background-position: 0 5px;
      background-repeat: no-repeat;
      padding-left: 24px;
      margin-bottom: 10px;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &.no-tick {
        background-image: none;
      }
    }
  }
}