.switch_options {
  .tac {
    img {
      width: 70%;
    }
  }
  
  .provider-checklist {
    text-align: left;
    padding: 20px;
    margin: 0;
    list-style-type: none;
    flex-grow: 1;
    
    li {
      background-image: image-url("green_tick.png");
      background-position: 0 5px;
      background-repeat: no-repeat;
      padding-left: 24px;
      margin-bottom: 10px;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &.no-tick {
        background-image: none;
      }
    }
  }
}